<div class="c-rte{{#if settings.rteContextClass}}--{{settings.rteContextClass}}{{else}}--default{{/if}}{{#if settings.rteClasses}} {{settings.rteClasses}}{{/if}}"
     data-css="c-rte">

	{{#if settings.rteCWD}}
		{{! Error handling }}
		{{#unless settings.rteCWDLevelUp}}
			<h2 style="color: red">You have to provide a level - default should be 0!</h2>
		{{/unless}}

		{{{markdown (buildPath @root.currentPage.dirname content.rteMd goUp=settings.rteCWDLevelUp) context=this}}}
	{{else}}

		{{#if md}}
			{{{markdown md context=this}}}
		{{else}}
			{{{markdown content.rteMd context=this}}}
		{{/if}}
	{{/if}}
</div>
