<div class="c-slider{{#if options.settings.sliderContextClass}}--{{options.settings.sliderContextClass}}{{else}}--default{{/if}}{{#if options.settings.sliderClasses}} {{options.settings.sliderClasses}}{{/if}}"
     data-css="c-slider"
     data-js-module="slider"{{#if options.settings.sliderJsOptions}}
     data-js-options='{{stringify options.settings.sliderJsOptions}}'{{/if}}>

	{{#with options.content.sliderButtons}}
		<div class="slider__controls-wrapper" data-js-item="slider-actions">
			{{> slider__controls }}
		</div>
	{{/with}}

	<div class="slider__content{{#unless options.settings.sliderInnerFullWidth}} is-container{{/unless}}">
		{{{yield}}}
	</div>

	{{#unless options.settings.sliderHidePagination}}
		<div class="slider__pagination-wrapper" data-js-item="slider-pagination">
			{{> slider__pagination }}
		</div>
	{{/unless}}
</div>