<div class="c-section{{#if settings.sectionContextClass}}--{{settings.sectionContextClass}}{{else}}--default{{/if}}{{#if
		props.sectionClasses}} {{props.sectionClasses}}{{/if}}"
     data-css="c-section">

	{{#if props.headline}}
		<header class="section__header is-container">
			<h2 class="section__headline{{#if props.headlineClasses}} {{props.headlineClasses}}{{/if}}">
				{{props.headline}}
			</h2>
		</header>
	{{/if}}

	<div class="section__content is-container">
		{{{yield}}}
	</div>

</div>
